<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.margsapp.imagetotext">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.ImageToText">
        <activity android:name=".FinalCameraActivity"
            android:theme="@style/Theme.Main"/>
        <activity android:name=".CameraViewActivity"
            android:theme="@style/Theme.Camera"/>

        <activity android:name=".FinalText" />
        <activity
            android:name=".GalleryActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".CameraActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Main" />
    </application>

</manifest>